<!-- 这部分是产品描述部分的相关代码 -->
{%- if product.description != blank -%}
<div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
    {{ product.description }}
</div>
{%- endif -%}